.logOutSection{
  display: flex;
  flex-direction: column;
  align-items: center;

  h2{
    margin-top: calc(3.075em + #{$header-height});
    font-size: $font-mobile-size-title;
    text-align: center;
    @media #{$media-tablet} {
      font-size: $font-tablet-size-title;
    }
    @media #{$media-desktop} {
      font-size: $font-desktop-size-title;
    }
    @media #{$media-big-screen} {
      font-size: $font-bigScreen-size-title;
    }
  }
  img{
    margin-top: 1.5625em;
    margin-bottom: 2.1875em;
  }
  button{
    background: none;
    border: 0.75px solid $color-font-base;
    padding: 0.72em 0.83em;
    font-size:1.125em;
    font-family: $font-base;
    font-weight: 300;
    cursor: pointer;
  }

}