.aboutUsSection{
  display: flex;
  .aboutUs-textBox{
    flex:1;
    width: 100%;
    background-color: $color-background-accent;
    .text{
      display: flex;
      flex-direction: column;
      align-items: center;
      @media #{$media-tablet,$media-desktop,$media-big-screen } {
        margin: 0 9.375em;
      }
      h2{
        margin-top: 4.9em;
       @include fontSizesTitles;
      }
      img{
        margin-bottom: 3.4375em;
      }
      p{
        text-align: center;
        font-size: 1.1em;
        line-height: 1.8em;
        letter-spacing: -0.6px;
        @media #{$media-tablet} {
          font-size: $font-tablet-size-paragraph;
        }
        @media #{$media-desktop } {
          font-size: $font-desktop-size-paragraph;
        }
        @media #{$media-big-screen} {
          font-size: $font-bigScreen-size-paragraph;
        }
      }
      .signatureBox{
        margin-top: 2.5em;
        margin-bottom: 3em;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        @media #{$media-tablet} {
        margin-bottom: 5em;
        }
        @media #{$media-desktop,$media-big-screen } {
          margin-bottom: 11.5725em;
        }
        img{
          width: 130px;
          height: auto;
          @media #{$media-tablet, $media-desktop}{
            width: auto;
            height: auto;
          }
          @media #{$media-big-screen}{
            width: 300px;
            height: auto;
          }
        }
      }
    }
  }
  .imgBox{
    flex: 1;
    background-image: url("../../../../assets/People.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}