$color-font-base:#3C3C3C;
$color-font-placeholder:rgba(60, 60, 60, 0.26);
$color-border-input:#707070;
$color-font-accent:#737373;
$color-font-numbers:#5E5322;
$color-border-accent:#FAD648;
$color-background-accent:#F0F1F1;
$color-background-important:#FAD648;
$color-input-checked:#FAD648;

