@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet');

$font-base:'Open Sans', sans-serif;
$font-alt:'Merriweather', serif;

$font-mobile-size-title: 1.7em;
$font-tablet-size-title: 2em;
$font-desktop-size-title: 2.5em;
$font-bigScreen-size-title: 4em;
$font-mobile-size-paragraph: 1.1em;
$font-tablet-size-paragraph: 1.5em;
$font-desktop-size-paragraph: 1.875em;
$font-bigScreen-size-paragraph: 2.8em;

