@mixin fontSizesTitles(){
  font-size: $font-mobile-size-title;
  @media #{$media-tablet}{
    font-size: $font-tablet-size-title;
  }
  @media #{$media-desktop}{
    font-size: $font-desktop-size-title;
  }
  @media #{$media-big-screen}{
    font-size: $font-bigScreen-size-title;
  }
}

