.important-section{
  background-color: $color-background-important;
  .container{
    display: flex;
    flex-direction: column;
    span{
      &:first-child{
        font-weight: bolder;
        margin-top: 1.4em;
        @include fontSizesTitles;
      }
      &:last-child{
        @media #{$media-tablet} {
          font-size: 1.2em;
        }
        @media #{$media-desktop} {
          font-size: 1.375em;
        }
        @media #{$media-big-screen} {
          font-size: 1.8em;
        }
        font-size: 1em;
        margin-bottom: 2.3em;
        line-height: 1.2em;
      }
    }
  }
}