
.threeColumnsSection {
  background-image: url("../../../../assets/3-Columns-Background.png");
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media #{$media-desktop,$media-big-screen} {
      flex-direction: row;
      justify-content: space-between;
    }
    .infoBox{
      display: flex;
      flex-direction: column;
      margin-top: 2.875em;
      margin-bottom: 5.375em;
      text-align: center;
      .boxNumber{
        color: $color-font-numbers;
        font-size: 5.625em;
        font-weight: 300;
      }
      .boxInfoTitle{
        text-transform: uppercase;
        font-size: 1.125em;
        margin-top:0.55em ;
        margin-bottom: 1.55em;
        letter-spacing: -0.36px;
      }
      p{
        font-family: $font-alt;
        font-weight: 300;
        letter-spacing: -0.32px;
        line-height: 18px;
      }
    }
  }

}