.organizationsListBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    max-width: 640px;
    font-size: $font-mobile-size-paragraph;
    @media #{$media-tablet, $media-desktop}{
      font-size: 1.375em;
    }
    @media #{$media-big-screen}{
      font-size: $font-bigScreen-size-paragraph;
      max-width: 1200px;
    }
    text-align: center;
    margin-bottom: 1.54em;
  }

  .organizationsList {
    font-family: $font-alt;
    font-weight: 300;
    width: 100%;

    &:not(:nth-of-type(3)) {
      border-bottom: 1px solid $color-border-input;
    }

    .singleTextBox {
      display: flex;
      flex-direction: column;

      @media #{$media-desktop,$media-big-screen } {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .textBoxLeft {
        display: flex;
        flex-direction: column;
        margin-top: 2em;
        margin-bottom: 0.7em;
        @media #{$media-desktop, $media-big-screen} {
          margin-bottom: 1.875em;
        }
        span {
          &:first-child {
            font-size: 1.4em;
            @media #{$media-tablet}{
              font-size: 1.5em;
            }
            @media #{ $media-desktop}{
              font-size: 1.625em;
            }
            @media #{$media-big-screen}{
              font-size:2.4em;
            }
            margin-bottom: 0.7em;
            text-align: center;
            line-height: 1.3em;
            @media #{$media-desktop,$media-big-screen } {
              margin-bottom: 0.23em;
              text-align: left;
            }

          }
          &:last-child {
            @include fontSizesOrganization;
          }
        }
      }

      > span {
        @include fontSizesOrganization;
        margin-bottom: 1em;
        @media #{$media-desktop,$media-big-screen } {
          margin-bottom: 0;
          text-align: right;
        }
      }
    }
  }

  .buttons {
    margin-top: 33px;
    button {
      color: $color-font-base;
      @include fontSizesOrganization;
      font-family: $font-base;
      padding: 0.72em 0.83em;
      background: none;
      border: 1px solid $color-border-input;
      cursor: pointer;

      &:nth-child(2) {
        margin: 0 1.23em;
      }

      &:focus {
        outline: none;
      }
    }
  }
}