.whoWeHelpSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  .helpTitle{
    margin-top: 4.375em;
    text-align: center;
    h2{
     @include fontSizesTitles;
    }
    img{
      margin-bottom: 3.125em;
    }
  }
  .buttonsBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.375em;
    @media #{$media-desktop,$media-big-screen } {
      flex-direction: row;
    }
    button{
      color: $color-font-base;
      font-family: $font-base;
      background: none;
      border: none;
      font-size: $font-mobile-size-paragraph;
      @media #{$media-tablet, $media-desktop}{
        font-size: $font-tablet-size-paragraph;
      }
      @media #{$media-big-screen}{
        font-size: $font-bigScreen-size-paragraph;
      }
      font-weight: 300;
      width:8.67em ;
      height: 3.29em;
      cursor: pointer;
      margin-bottom: 1em;
      &:nth-child(2){
        @media #{$media-desktop,$media-big-screen } {
          margin:0 2.70em;
        }
        margin-bottom: 1em;
      }
      &:focus{
        outline: none;
      }
    }
    .active{
      border: 0.75px solid $color-font-base;
    }
  }

}