.logRegisterSite{
  display: flex;
  flex-direction: column;
  align-items: center;

  .logRegisterTitleBox{
    margin-top: calc(7.6875em + #{$header-height});
    text-align: center;
    h2{
      letter-spacing: -0.8px;
      font-size:2.5em ;
    }
    img{
      margin-top: 1.5625em;
      margin-bottom: 3.75em;
    }

  }
  form{

    .inputsBox{
      background-color: $color-background-accent;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2.5em 4.203125em 0.5em;
      label{
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;
        input{
          height: 2.5em;
          width: 15.625em;
          background: none;
          border: none;
          border-bottom: 1px solid $color-border-input;
          &:focus{
            outline: none;
          }
        }
      }
    }

  }
  .logRegisterButtons{
    margin-top: 2.5em;
    background-color: white;
    width: 31.5em;
    display: flex;
    justify-content: space-between;
    button{
      background: none;
      border: none;
      font-size:1.125em;
      font-family: $font-base;
      font-weight: 300;
      cursor: pointer;
    }
    .submit{
      border: 0.75px solid $color-font-base;
      padding: 0.72em 0.83em;
    }
  }
}
