.footerSection{
  >div{
    padding-bottom: 1.375em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .footerText{
    width: 100%;
    text-align: center;
    span{
      font-size: 0.7em;
      @media #{$media-tablet, $media-desktop}{
       font-size: 1em;
      }
      @media #{$media-big-screen}{
       font-size: 1.5em;
      }
    }
  }
  .mediaIcons{
    display: flex;
    img{
      width: 20px;
      @media #{$media-desktop}{
        width: 25px;
      }
      @media #{$media-big-screen}{
        width: 40px;
      }
      &:first-child{
        margin-right:1.25em ;
      }
    }
  }
}