.footerSection{
  >div{
    padding-bottom: 1.375em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .footerText{
    width: 100%;
    text-align: center;
  }
  .mediaIcons{
    display: flex;
    img{
      &:first-child{
        margin-right:1.25em ;
      }
    }
  }
}