.logList{
  display: flex;
  flex-direction: column;
  @media #{$media-tablet,$media-desktop,$media-big-screen }
  {
    flex-direction: row;
    justify-content: flex-end;
  }
  div{
    display: flex;
    flex-direction: row;
  }
  li{
    margin-top: 2.85em;
    margin-left: 0.7em;
    font-size: 14px;
    @media #{$media-big-screen} {
      font-size: 24px;
    }
    a{
      color: $color-font-accent;
      padding: 0.65em 0.715em;
    }
  }
  .borderLink{
    border: 0.75px solid $color-border-accent;
  }

  margin-bottom:1.0625em;
  @media #{$media-big-screen} {
    margin-bottom:1.8em;
  }
  .beColumn{
    display:flex;
    flex-direction: column;
  }
}