.logList{

  display: flex;
  flex-direction: column;
  @media #{$media-tablet,$media-desktop,$media-big-screen }
  {
    flex-direction: row;
    justify-content: flex-end;
  }
  div{
    display: flex;
    flex-direction: row;
  }
  li{
    margin-top: 40px;
    margin-left: 10px;
    font-size: 14px;
    a{
      color: $color-font-accent;
      padding: 9px 10px;
    }

  }
  .borderLink{
    border: 0.75px solid $color-border-accent;
  }

  margin-bottom: 17px;
  .beColumn{
    display:flex;
    flex-direction: column;
  }
}