.navList{
  display: flex;
  justify-content: flex-end;

  li{
    padding: 0.5625em 1.25em;
    margin-left: 0.9375em;
    &:hover{
      cursor: pointer;
    }
    &:first-child{
      border: 0.75px solid $color-font-base;
    }
    @media #{$media-big-screen} {
      font-size: 24px;
    }
  }
}
.burger-box{
  margin-top: 2em;
  max-width: 10px;
  .burger-list{
    background: rgba(255, 255, 255, 0.68);
    margin-top: 0.5em;
    flex-direction: column;
    li{
      margin:0;
    }
  }
}
