@import "settings/all";
@import "mixins/all";
@import "components/all";

html{
  font-size: 16px;
}
body {
  font-family: $font-base;
  color: $color-font-base;
}

.container{
  max-width: 1250px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.navLink{
  text-decoration: none;
  color: $color-font-base;
}
