.stepsSection{
  background-image: url("../../../../assets/Background-Form.jpg");
  padding-top: 2.25em;
  .num-of-step{
    font-size: 1.5em;
  }
  .step-title{
    font-size: 2.25em;
    font-weight: bolder;
    margin: 1.95em 0 1.11em 0;
  }
  form{
    display: flex;
    flex-direction: column;
    margin-bottom: 7.25em;
    label{
      margin-bottom: 2.625em;
    }
    input[type='radio']{
      -webkit-appearance: none;
      -moz-appearance:    none;
      appearance:         none;
      width: 40px;
      height: 40px;
      background: none;
      border: 0.75px solid $color-font-base;
      border-radius: 0;
      display: inline-block;
      vertical-align: middle;
      outline: none;
      position: relative;
      margin-right: 30px;
      &:checked:after{
        content: '';
        width: 40px;
        height: 40px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 0.75px solid $color-font-base;
        background-color: $color-input-checked;
      }

    }
  }
  button{
    background: none;
    border: 0.75px solid $color-font-base;
    font-weight: lighter;
    font-size: 1.5em;
    padding: 1em 2.625em;
    &:first-of-type{
      margin-right: 50px;
    }
    &:focus{
      outline: none;
      border: 0.75px solid $color-font-base; ;
    }
  }

}