
.stepsSection {
  background-image: url("../../../../assets/Background-Form.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 2.25em;
  @media #{$media-tablet, $media-desktop,$media-big-screen} {
    height: 883px;
  }
  @media #{$media-big-screen } {
    background-position-x:right;
  }
  @media #{$media-desktop,} {
    background-position-x: -500px;
  }
  @media #{$media-tablet} {
    background-position-x: -750px;
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  input, textarea {
    color: $color-font-base;
    background: none;
    border: $border-base;

  }

  .num-of-step {
    font-size: 1.5em;
  }

  .step-title {
    font-size: 1.4em;
    max-width: 90%;
    @media #{$media-desktop,$media-big-screen } {
     font-size: 2.25em;
    }
    @media #{$media-tablet } {
     font-size: 1.8em;
    }

    font-weight: bolder;
    margin: 1.95em 0 1.11em 0;
  }

  form {
    display: flex;
    flex-direction: column;
   //margin-bottom: 1.7em;
    @media #{$media-desktop,$media-big-screen } {
      //margin-bottom: 7.25em;
    }
    label {
      margin-bottom: 1.5em;
      @media #{$media-desktop,$media-big-screen } {
        margin-bottom: 2.625em;
      }

      display: flex;
      align-items: center;
    }

    input[type='radio'] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 40px;
      height: 40px;
      background: none;
      border: 0.75px solid $color-font-base;
      border-radius: 0;
      display: inline-block;
      vertical-align: middle;
      outline: none;
      position: relative;
      margin-right: 30px;

      &:checked:after {
        content: '';
        width: 40px;
        height: 40px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 0.75px solid $color-font-base;
        background-color: $color-input-checked;
      }

    }
  }

  .buttons-box {
    bottom: 50px;
    display: flex;
    flex-direction: column-reverse;
    width: 50%;
    padding-bottom: 50px;
    a{
      text-decoration: none;
      &:first-of-type{
        @media #{$media-tablet,$media-desktop,$media-big-screen } {
          margin-right: 50px;
        }
      }
    }
    @media #{$media-tablet,$media-desktop,$media-big-screen } {
      flex-direction: row;
      padding-left: 0;
    }
  }

  button {
    background: none;
    border: 0.75px solid $color-font-base;
    font-weight: 300;
    font-size: 1.5em;
    padding: 1em 2.625em;
    width: 80%;
    font-family: $font-base;
    display: flex;
    justify-content: center;
    text-decoration: none;
    @media #{$media-tablet,$media-desktop,$media-big-screen } {
      width: 180px;
    }
    &:first-of-type {
      margin-top: 1em;

    }
    &:focus {
      outline: none;
      border: 0.75px solid $color-font-base;;
    }
  }

  .box {
    font-size: 1.1em;
    font-family: $font-base;
    @media #{$media-tablet} {
      font-size: 1.2em;
    }
    @media #{ $media-desktop,$media-big-screen} {
      font-size: 1.5em;
    }
    h3 {
      font-weight: bolder;
      margin-bottom: 0.83em;
    }

    span {
      margin-right: 1em;
    }

    .custom-select {
      position: relative;
      width: 300px;
      color: $color-font-base;
      display: inline-block;
      font-weight: lighter;

      select {
        display: none;
      }

    }

    .select-selected {
      background: none;
      border: $border-base;
      padding: 8px 18px;

      &:after {
        position: absolute;
        content: "";
        background-image: url("../../../../assets/Icon-Arrow-Down.svg");
        top: 12px;
        right: 0;
        width: 57px;
        height: 26px;
        border: none;
      }
    }

    .select-selected.select-arrow-active:after {
      background-image: url("../../../../assets/Icon-Arrow-Up.svg");
    }

    .select-items div, .select-selected {
      cursor: pointer;
      line-height: 1.375em;
    }

    .select-items {
      position: absolute;
      background: #E8E9E4 0 0 no-repeat padding-box;;
      border: $border-base;
      top: 64px;
      right: 0;
      padding: 4px 36px;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 99;

      div {
        padding: 2px 0;
      }
    }

    .select-hide {
      display: none;
    }


    .box-help {
      max-width: 700px;
      margin-bottom: 1em;

      h3 {
        margin-top: 2.1em;
      }

      input[type='checkbox'] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: $border-base;
        padding: 11px 26px;
        margin-right: 1em;
        margin-bottom: 1em;

        &:before {
          font-size: 24px;

        }

        &:first-of-type:before {
          content: 'dzieciom';
        }

        &:nth-of-type(2):before {
          content: 'samotnym matkom';
        }

        &:nth-of-type(3):before {
          content: 'bezdomnym';
        }

        &:nth-of-type(4):before {
          content: 'niepełnosprawnym';
        }

        &:nth-of-type(5):before {
          content: 'osobom starszym';
        }

        &:checked {
          border: $border-base;
          background-color: $color-input-checked;
        }
      }
    }

    .organization-box {
      display: inline-block;

      input {
        width: 80%;
        @media #{$media-tablet,$media-desktop,$media-big-screen } {
        width: 100%;
        }
        font-size: 1em;
        padding: 0 0.5em;
        height: 40px;
        font-family: $font-base;
        font-weight: lighter;
        @media #{$media-tablet,$media-desktop,$media-big-screen } {
          width: 100%;
        }
      }
    }
  }

  .fourth-forms {
    display: flex;
    flex-direction: column;
    @media #{$media-tablet}{
      align-items: center;
    }
    @media #{$media-tablet, $media-desktop,$media-big-screen } {
      flex-direction: row;
    }
    form {
      label {
        width: 392px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media #{$media-desktop,$media-big-screen } {
          flex-direction: row;
          justify-content: space-between;
        }
        span {
          max-width: 114px;
          margin-bottom: 0.5em;
          @media #{$media-desktop,$media-big-screen } {
          margin-bottom: 0;
          }
        }

        input, textarea {
          height: 40px;
          width: 256px;
        }

        textarea {
          width: 256px;
          height: 120px;
        }
      }

      &:first-of-type {
        @media #{$media-desktop,$media-big-screen } {
          margin-right: 152px;
        }

      }
    }
  }

  .fifthStep {
    h1 {
      font-size: 2.25em;
      margin-bottom: 1.25em;
      font-weight: bolder;
      @media #{$media-desktop,$media-big-screen } {
        margin-bottom: 0;
      }
    }

    span {
      margin: 0;
    }

    .summaryLine {
      margin-bottom: 0.83em;
      display: flex;
      align-items: center;

      img {
        margin-right: 0.8em;
      }
    }

    .summaryForms {
      margin-top: 1.25em;
      display: flex;
      justify-content: space-between;
      max-width: 800px;

      .summarySingleBox {
        div {
          font-weight: lighter;
          line-height: 1.33em;
          margin-bottom: 0.83em;
          display: flex;
          align-items: center;

          p {
            display: inline-block;
            width: 136px;
          }
        }

      }
    }
  }

  .thanksBox {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 630px;
      font-weight: lighter;

      p {
        text-align: center;
        font-size: 2.5em;
        line-height: 1.25em;
        letter-spacing: -0.8px;
      }

      img {
        margin-top: 1.5625em;
      }

      a {
        width: 50%;
        font-size: 0.6em;
        @media #{$media-tablet,$media-desktop,$media-big-screen } {
          width: auto;
          font-size: 1em;
        }
      }

      button {
        cursor: pointer;
        margin: 100px 0 0 0;
      }

    }
  }
}