
.stepsSection {
  background-image: url("../../../../assets/Background-Form.jpg");
  padding-top: 2.25em;
  min-height: 883px;
  position: relative;

  .container{
    height: 100%;
  }


  input, textarea {
    color: $color-font-base;
    background: none;
    border: $border-base;

  }

  .num-of-step {
    font-size: 1.5em;
  }

  .step-title {
    font-size: 2.25em;
    font-weight: bolder;
    margin: 1.95em 0 1.11em 0;
  }

  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 7.25em;

    label {
      margin-bottom: 2.625em;
    }

    input[type='radio'] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 40px;
      height: 40px;
      background: none;
      border: 0.75px solid $color-font-base;
      border-radius: 0;
      display: inline-block;
      vertical-align: middle;
      outline: none;
      position: relative;
      margin-right: 30px;

      &:checked:after {
        content: '';
        width: 40px;
        height: 40px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 0.75px solid $color-font-base;
        background-color: $color-input-checked;
      }

    }
  }

  .buttons-box {
    position: absolute;
    bottom: 50px;

    button {
      background: none;
      border: 0.75px solid $color-font-base;
      font-weight: lighter;
      font-size: 1.5em;
      padding: 1em 2.625em;

      &:first-of-type {
        margin-right: 50px;
      }

      &:focus {
        outline: none;
        border: 0.75px solid $color-font-base;;
      }
    }
  }

  .box {
    font-size: 1.5em;
    h3 {
      font-weight: bolder;
      margin-bottom: 0.83em;
    }
    span {
      margin-right: 1em;
    }

    .custom-select {
      position: relative;
      display: inline-block;

      select {
        -moz-appearance: none;
        -webkit-appearance: none;
        font-size: 1em;
        color: $color-font-base;
        width: 300px;
        height: 49px;
        background: none;
        border: $border-base;
        padding-left: 18px;

        option {
          -moz-appearance: none;
          -webkit-appearance: none;

          &:hover {
            border: none;
            background: none;
            cursor: pointer;
          }

        }
      }
    }


    .box-help {
      max-width: 700px;
      margin-bottom: 1em;

      h3 {
        margin-top: 2.1em;
      }

      input[type='checkbox'] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: $border-base;
        padding: 11px 26px;
        margin-right: 1em;
        margin-bottom: 1em;

        &:before {
          font-size: 24px;

        }

        &:first-of-type:before {
          content: 'dzieciom';
        }

        &:nth-of-type(2):before {
          content: 'samotnym matkom';
        }

        &:nth-of-type(3):before {
          content: 'bezdomnym';
        }

        &:nth-of-type(4):before {
          content: 'niepełnosprawnym';
        }

        &:nth-of-type(5):before {
          content: 'osobom starszym';
        }

        &:checked {
          border: $border-base;
          background-color: $color-input-checked;
        }
      }
    }

    .organization-box {
      display: inline-block;

      input {
        width: 100%;
        font-size: 1em;
        padding: 0 0.5em;
        height: 40px;
      }
    }
  }

  .fourth-forms {
    display: flex;

    form {
      label {
        width: 392px;
        display: flex;
        justify-content: space-between;

        span {
          max-width: 114px;
        }

        input, textarea {
          height: 40px;
          width: 256px;
        }

        textarea {
          width: 256px;
          height: 120px;
        }
      }

      &:first-of-type {
        margin-right: 152px;
      }
    }
  }

  .fifthStep{
    h1 {
      font-size: 2.25em;
      margin-bottom: 1.25em;
      font-weight: bolder;
    }
    span{
      margin: 0;
    }
    .summaryLine{
      margin-bottom: 0.83em;
      display: flex;
      align-items: center;
      img{
        margin-right: 0.8em;
      }
    }
    .summaryForms{
      margin-top: 1.25em;
      display: flex;
      justify-content: space-between;
      max-width: 800px;

      .summarySingleBox{
        div{
          font-weight: lighter;
          line-height: 1.33em;
          margin-bottom: 0.83em;
          display: flex;
          align-items: center;
          p{
            display: inline-block;
            width: 136px;
          }
        }

      }
    }
  }

  .thanksSection{
    height: 100%;
  }
  .thanksBox{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
      text-align: center;
      font-size: 2.5em;
      line-height: 1.25em;
      letter-spacing: -0.8px;
    }
    img{
      margin-top: 1.5625em;
    }
  }
}